{% extends 'base.html' %}

{% block content %}

{% include 'header.html' %}

<div id="main" class="main" role="main">
{% for n in context.volumes %}
    
    <div class="card-profile">
        <div class="inner-flex">
      
      
            <a href="{% url 'byPage' context.binder forloop.counter 1 %}">
      
            <div class="card-grid-item " >
                Volume {{forloop.counter}}
            </div>
        </a>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endblock content%}
    

