{% extends 'base.html' %}

{% block content %}

{% include 'pageEmbed.html' %}


<div class="pagination">
    <span class="step-links">
        {% if context.has_previous %}
            <a href="{% url 'byPage' binder_name=context.paginator.binder volume_number=context.paginator.volume page_number=context.previous_page_number%}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ context.number }} of {{ context.paginator.num_pages }}
        </span>

        {% if context.has_next %}
        <a href="{% url 'byPage' binder_name=context.paginator.binder volume_number=context.paginator.volume page_number=context.next_page_number%}">next</a>
          
        {% endif %}
    </span>
</div>

{% endblock content%}