

{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">

function paginate (binder, volume, page){

    $.ajax(
    {
        type:"GET",
        url: "/binder/"+binder+"/volume/"+volume+"/page/"+page,
        data:{"embedded": "True"},
        success: function( data ) 
        {
            $(this).parent.empty();
            $(this).parent.html(data);
        }
     });
};

</script>

{% include "pageEmbed.html" %}
{% if context.has_previous%}
<button class="previous">previous</button>
{% endif %}
{% if context.has_next %}
<button class="next">next</button>
{% endif %}
{% endblock content%}