<footer id="footer" class="footer">
    <div class="inner-flex">
  {% comment %}
      <div class="footer-column">
        <h6>Cards</h6>
        <ul>
          <li><a class="footer-link" href="/advanced">Advanced Search</a></li>
          <li><a class="footer-link" href="/docs/syntax">Syntax Guide</a></li>
          <li><a class="footer-link" href="/sets">All Sets</a></li>
          <li><a id="account-decks-footer-link" class="footer-link vh" href="/account/decks">Your Decks</a></li>
          <li><a class="footer-link" href="/random">Random Card</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h6></h6>
        <ul>
          <li><a class="footer-link" href="/bots">Slack &amp; Discord Bots</a></li>
          <li><a class="footer-link" href="/docs/faqs">Site FAQs &amp; Help</a></li>
          <li><a class="footer-link" href="/blog">Scryfall Blog</a></li>
          <li><a class="footer-link" href="https://tagger.scryfall.com">Scryfall Tagger</a></li>
          <li><a class="footer-link" href="https://artgame.scryfall.com">Art Game</a></li>
          <li><a class="footer-link" href="https://bolas.scryfall.com">Bolas Game</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h6>Account</h6>
        <ul>
          <li><a class="footer-link" href="/settings/profile">Your Account</a></li>
          <li><a class="footer-link" href="/register">Register</a></li>
          <li><a class="footer-link" href="/docs/terms">Terms of Service</a></li>
          <li><a class="footer-link" href="/contact">Contact Us</a></li>
          <li><a class="footer-link" href="/docs/privacy">Privacy &amp; Security</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h6>Developers</h6>
        <ul>
          <li><a class="footer-link" href="/docs/api">API Documentation</a></li>
          <li><a class="footer-link" href="/docs/api/cards">Card Objects</a></li>
          <li><a class="footer-link" href="/docs/api/images">Card Imagery</a></li>
          <li><a class="footer-link" href="/docs/api/bulk-data">Bulk Data</a></li>
          <li><a class="footer-link" href="/blog/category/api">API Changelog</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h6>More</h6>
        <ul>
          <li><a class="footer-link" href="/donate">Donate to Scryfall</a></li>
          <li><a class="footer-link" rel="me" href="https://www.patreon.com/scryfall">Patreon</a></li>
          <li><a class="footer-link" rel="me" href="https://bsky.app/profile/scryfall.com">Bluesky</a></li>
          <li><a class="footer-link" rel="me" href="https://mastodon.social/@scryfall">Mastodon</a></li>
          <li><a class="footer-link" rel="me" href="https://github.com/scryfall">GitHub</a></li>
        </ul>
      </div>
  {% endcomment%}
      <div class="footer-legal">
        <p>
          Portions of collection.connorlynch.ca are unofficial Fan Content 
          permitted under the Wizards of the Coast Fan Content Policy.
          The literal and graphical information presented on this site
          about Magic: The Gathering, including card images and mana symbols,
          is copyright Wizards of the Coast, LLC.
          This website is not produced by or endorsed by Wizards of the Coast.
        </p>
        <p>
          This website and it's content would not be possible without
          the exceptional work done by the scryfall team. 
          This website is not produced by or endorsed by Scryfall.
        </p>
        <p>
          Card prices and promotional offers represent daily estimates and/or market values
          provided by our affiliates.
          Absolutely no guarantee is made for any price information.
          See stores for final prices and details.
        </p>
        {% comment %}
        <p>
          All other content © 2024 Scryfall, LLC.
        </p>
        {% endcomment %}
      </div>
  
    </div>
  </footer>