<div id="header" data-component="header" role="nav" class="header">
    <div class="header-control-row"><a title="Back to homepage" href="/" class="header-logo"><span class="vh">Land Collection</span></a> <form action="/search" accept-charset="UTF-8" method="get" class="header-search"><label for="header-search-field" class="vh">Search for Magic cards</label> <input type="text" name="name" id="name" placeholder="Search for Magic cards…" autocomplete="on" autocapitalize="none" autocorrect="off" spellcheck="false" maxlength="1024" class="header-search-field"> <button type="submit" class="vh">
    Find Cards
</button>
</form>
<div class="header-links">
    <div class="header-link-divider"></div>  
    <a href="/binder" class="header-link">
        <span>Binders</span>
    </a> 
    <a href="/random" class="header-link"> 
        <span>Random</span>
    </a>
     <div class="header-link-divider"></div> 
</div> 
<button type="button" class="header-menu-button-container">
    <span class="button-n inverted header-menu-button">
        <svg width="30" height="30" viewBox="0 0 30 30" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 4v2h26v-2h-26zm0 12h26v-2h-26v2zm0 10h26v-2h-26v2z"></path>
        </svg> 
        <b class="header-menu-button-label">Menu</b>
    </span>
</button>
</div>
<div class="mobile-nav" style="display: none;"> <a href="/binder" class="button-n inverted align-left"> <b>Binders</b></a> <a href="/random" class="button-n inverted align-left"> <b>Random Card</b></a></div>
</div>

